@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500&display=swap');

// ---color ---
$cl1: #F8F9FA;
$cl2: #E5E5E5;
$cl2-0: rgba(248, 249, 250, 0.50);
$cl3: #212529;
$cl4: #495057;
// ---font-size---


body{
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: rgba(73, 80, 87, 0.5);
}
.wrapper{
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.wrapper > main{
    flex-grow: 1;
}
/* --------------- */
[class*= "__container"]{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1270px;
    margin: 0 auto;
}
/* --------------- */
/* header start */
.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    // .header__container
    &__container {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 10px;
    @media (max-width: 767.98px) {
        min-height: 50px;
    }
    }

    // .header__logo
    &__logo {
    position: relative;
    color: $cl1;
    font-size: 18px;
    font-weight: 700;
    line-height: 138.889%;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    &::after{
        content: ".";
        color: #DDBEA9;
        font-size: 18px;
        font-weight: 700;
        margin-left: 2px;
    }
    }

    // .header__navigation
    &__navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    min-height: 25px;
    }

    // .header__menu
    &__menu {
    display: flex;
    align-items: center;
    gap: 25px;
    }
}
.menu {

    // .menu__body
    &__body {
        @media (max-width: 767.98px) {
            position: fixed;
            width: 50%;
            height: 100%;
            overflow: auto;
            right: -100%;
            top: 0;
            background-color: rgba(0, 0, 0, 0.562);
            padding: 70px 15px 20px 15px;
            transition: all 0.4s;
            &::before{
                content: "";
                height: 50px;
                width: 50%;
                position: fixed;
                top: 0;
                right: -100%;
                z-index: 51;
                transition: all 0.4s;
            }
        }
    }

    // .menu__list
    &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 3px;
    @media (max-width: 767.98px) {
        flex-direction: column;
        row-gap: 20px;
    }
    }

    // .menu__item-------------
    &__item {
        // .menu__item_parent
        &_parent {
            position: relative;
            padding-right: 13px;
            &::after{
                @media (min-width: 767.98px) {
                    content: "";
                    position: absolute;
                    top: 10.5px;
                    right: 0px;
                    width: 8px;
                    height: 5px;
                    background: url("../img/icons/arrow_down.svg") 0 0 / 100% no-repeat;
                }
            }
        }
        @media (max-width: 767.98px) {
            text-align: center;
            padding: 0;
            &:last-child{
                margin-bottom: 30px;
            }
        }
    }

    // .menu__link
    &__link {
    color: $cl2-0;
    font-weight: 500;
    line-height: 208.333%;
    transition: color 0.4s;
    position: relative;
    display: inline-flex;
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        transition: width 0.4s, left 0.4s;
        height: 2px;
        border-radius: 2px;
        background-color: #DDBEA9;
    }
    &.active::before{
        width: 100%;
        left: 0;
    }
    @media (max-width: 767.98px) {
        font-size: 4vw;
        color: $cl1;
        font-weight: bold;
        &.active{
            color: $cl1;
            font-weight: bold;
        }
    }
    }

    // .menu__sub-menu
    &__sub-menu {
    }
}
.menu__lupa2{
    display: none;
    @media (max-width: 767.98px) {
        width: 27px;
        height: 25px;
        border-left: 1px solid $cl2-0;
        position: relative; 
        left: 23vw;
        display: block;
        &::after{
            content: url(../img/icons/lupa.svg);
            position: absolute;
            right: 0;
            top: 7px;
        }
    }
    @media (max-width: 590.98px) {
        left: 20vw;
        
    }
    @media (max-width: 480.98px) {
        left: 17vw;
        
    }
    @media (max-width: 380.98px) {
        left: 14vw;
        
    }
    @media (max-width: 320.98px) {
        left: 12vw;
        
    }
}
.menu__lupa1{
    display: none;
    @media (min-width: 767.98px) {
        width: 35px;
        height: 25px;
        border-left: 1px solid $cl2-0;
        position: relative; 
        display: block;
    &::after{
        content: url(../img/icons/lupa.svg);
        position: absolute;
        right: 0;
        top: 7px;
    }
    }
}
.menu-open{
    @media (max-width: 767.98px) {}
    .menu-icon{
        &::before{
            top: 50%;
            transform: rotate(-45deg);
            transition: all 0.4s;
        }
        &::after{
            top: 50%;
            transform: rotate(45deg);
            transition: all 0.4s;
        }
        span{
            width: 0;
            left: 50%;
            transition: all 0.3s;
        }
        
    }
    .menu__body{
        right: 0;
        &::before{
            right: 0;
        }
    }
}
.active {
    color: $cl1;
}
.sub-menu {
    // .sub-menu__list
    &__list {
    background-color: rgba(33, 37, 41, 1);
    border-radius: 5px;
    padding: 20px;
    min-width: 140px;
    @media (max-width: 767.98px) {
        background-color: rgba(0, 0, 0, 0.205);
        padding: 5px 0 5px 0;
        min-width: none;
    }
    }
    // .sub-menu__item
    &__item {
        &:not(:last-child){
            margin-bottom: 10px;
            
        }
        
    }
    // .sub-menu__link
    &__link {
    color: $cl2-0;
    line-height: 208.333333%; /* 25/12 */
    font-weight: 500;
    transition: color 0.4s;
    @media (max-width: 767.98px) {
        font-size: 3.5vw;
        color: $cl2;
        font-weight: 500;
    }
    }
    @media (min-width: 767.98px) {
        position: absolute;
        top: 120%;
        left: 0;
        transition: all 0.4s;
        opacity: 0;
        visibility: hidden;
        padding-top: 6px;
        pointer-events: none;
    }
}
.menu-icon {
    display: none;
    @media (max-width: 767.98px) {
        display: block;
        flex: 0 0 35px;
        height: 25px;
        position: relative;
        &::before,
        &::after,
        span{
            content: "";
            position: absolute;
            height: 2px;
            left: 0;
            width: 100%;
            background-color: $cl1;
            transition: all 0.4s;
            z-index: 50;
        }
        &::before{
            
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        span{
            top: 50%;
            margin-top: -0.5px;
        }
    }



}
/* header end */

/*--- board start ---*/
.page {
    
    // .page__main
    &__main {
    }
}
.main {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    color: $cl2;
    font-weight: 300;
    line-height: 166.667%;
    padding-bottom: 100px;
    padding-top: 120px;
    margin-bottom: 6%;
    @media (min-width: 1500.98px) {
        font-size: 1.2rem;
    
    }
    // .main__container
    &__container {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
    }

    // .main__body
    &__body {
        max-width: 37.8rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        @media (min-width: 1500.98px) {
            max-width: 60rem;
        }
        @media (max-width: 39.4em) {
            max-width: 30.8rem;
        }
    }

    // .main__date
    &__date {
        

    }

    // .main__
    &__ {
        

        // .main___text
        &_text {
            max-width: 22rem;
            @media (min-width: 1500.98px) {
                max-width: 40rem;
            
            }
        }
    }

    // .main__background
    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
.maine {

    // .maine__title
    &__title {
    }
}
.title {
    color: $cl1;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 160%;
    @media (min-width: 1500.98px) {
        font-size: 2.4rem;
    
    }
}
.text {
}
/*--- board end ---*/

/*--- cards start ---*/
.categories {
    // .categories__container
    &__container {
        width: 100%;
    }

    // .categories__column
    &__column {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        align-items: center;
        margin-bottom: 3%;
        h2{
            color: #495057;
            font-weight: 500;
            align-items: center;
        }
    }
}
.group {
    // .group__list
    &__list {
        display: flex;
        font-weight: 500;
        line-height: 208.333%;
        column-gap: 1.25rem

    }
}
.item {
    transition: color 0.4s;
    &:hover{
    color: #495057;

    }
}
.plus{
    color: #495057;
}

//----------------------
.categories {
    
    // .categories__cards
    &__cards {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        gap: 8% 2%;
        margin-bottom: 9rem;
        @media (max-width: 30.7em) {
            grid-template: repeat(3, 1fr) / repeat(2, 1fr);
            margin-bottom: 12rem;
            gap: 6% 2%;

        }
    }
    
}
.cards {

    // .cards__item

    &__item {
    }
}
.card {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    @media (max-width: 39.4em) {
        row-gap: 10px;
    }
    
    // .card__image

    &__image {
        max-width: 100%;
        object-fit: cover;
        position: relative;
        overflow: hidden;
        margin-bottom: 4%;
        img{
            width: 100%;
            transition: transform 0.4s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    // .card__date
    &__date {
        color: $cl4;
        font-weight: 300;
        line-height: 166.7%;
        @media (max-width: 39.4em) {
            font-size: 0.6rem;
        }
    }

    // .card__title
    &__title {
        font-size: 1.56rem;
        color: $cl3;
        font-weight: 700;
        line-height: 160%;
        @media (max-width: 50.5em) {
            font-size: 1.2rem;
        }
        @media (max-width: 39.4em) {
            font-size: 0.8rem;
        }
    }

    // .card__text
    &__text {
        color: $cl4;
        font-weight: 300;
        line-height: 166.7%;
        @media (max-width: 39.4em) {
            font-size: 0.6rem;
        }
    }

    &__line{
        display: block;
        width: 100%;
        border-top: 1px solid $cl2;
    }
    // .card__author
    &__author {
        color: $cl4;
        line-height: 166.7%;
        font-weight: 300;
        @media (max-width: 39.4em) {
            font-size: 0.6rem;
        }
    }
}
.image {
    

    // .image__button

    &__button {
        position: absolute;
        width: 4rem;
        top: 9%;
        right: 9%;
        display: block;
        color: $cl1;
        font-size: 0.6rem;
        font-weight: 700;
        line-height: 250%;
        background-color: rgba(33, 37, 41, 0.30);
        text-align: center;
        transition: background-color 0.4s;
        border-radius: 3px;
        @media (any-hover:hover) { 
            &:hover{
                background-color: #21252998;
            }
        }
        @media (max-width: 43.75em) {
            width: 3rem;
            font-size: 0.4rem;
        }
    }
}
.more{
    display: block;
    background-color: $cl3;
    width: 11.5rem;
    color: $cl1;
    text-align: center;
    line-height: 208.4%;
    padding: 7px 0;
    margin: 0 auto;
    margin-bottom: 10%;
    overflow: hidden;
    transition: all 0.4s;
    &:hover{
        letter-spacing: 2px;
    }
}
/*--- cards end ---*/

/*--- topics satrt ---*/
.topics {
		// .topics__container
		&__container {
            max-width: 100%;
            min-height: 100vh;
            padding-right: 0;
            background-color: $cl3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 10px;
            overflow: hidden;
            margin-bottom: 10px;//--------------
		}
}
.information {
    font-size: 0.75rem;
    max-width: 31.1rem;
    margin: 0 auto;
    padding: 6.25rem 0;
    @media (min-width: 112.5em) {
        max-width: 61.1rem;
    }
    @media (max-width: 63.5em) {
        padding: 2rem 0;
    }
    
		// .information__title
		&__title {
            color: $cl1;
            font-size: 1.56rem;
            font-weight: 500;
            line-height: 156.25%;
            margin-bottom: 3.75rem;
            @media (min-width: 112.5em) {
                font-size: 2.5rem;
            }
		}
		// .information__card
		&__card {
            display: flex;
            max-width: 31.1rem;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 1.8rem;
            justify-content: space-between;
            &:not(:last-child){
                margin-bottom: 1.9rem;
            }
            @media (min-width: 112.5em) {
            max-width: 51.1rem;
            }
            @media (max-width: 63.5em) {
                max-width: 16.1rem;
            }
		}
		// .information__image
		&__image {
            width: 11.30rem;
            @media (min-width: 112.5em) {
                width: 17rem;
            }
            img{
                max-width: 100%;
                object-fit: cover;
                @media (min-width: 112.5em) {
                min-width: 100%;
                }
            }
		}
		// .information__about
		&__about {
            max-width: 17.9rem;
            display: flex;
            flex-direction: column;
            row-gap: 0.95em;
            @media (min-width: 112.5em) {
            max-width: 27.1rem;
    }
		}
		// .information__titels
		&__titels {
            color: $cl1;
            font-size: 1.3em;
            line-height: 156.25%;
            font-weight: 500;
            @media (min-width: 112.5em) {
                font-size: 2em;
            }
		}
		// .information__text
		&__text {
            font-size: 0.85em;
            color: $cl2-0;
            font-weight: 300;
            line-height: 166.6%;
            @media (min-width: 112.5em) {
                font-size: 1.2em;
            }
		}
}
.card {
		// .card__date
		&__date {
            font-weight: 300;
            line-height: 166.6%;
            text-align: left;
            color: $cl2;
            font-size: 0.85em;
            color: $cl2-0;
            @media (min-width: 112.5em) {
                font-size: 1.2em;
            }
		}
}
//---------------------
.topics-items {

		// .topics-items__informatoin

		&__informatoin {
		}
}
.board-mounts {
    position: relative;
		// .board-mounts__about
		&__about {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            padding: 25.125rem 0 24.31rem 0;
            @media (min-width: 112.5em) {
                padding: 30.125rem 0 20.31rem 0;
            }
		}
		// .board-mounts__image
		&__image {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
		}
		// .board-mounts__filling
		&__filling {
            position: relative;
            max-width: 18.56rem;
            margin: 0 auto;
            @media (min-width: 112.5em) {
                max-width: 27rem;
            }
		}
		// .board-mounts__title
		&__title {
            color: $cl1;
            font-size: 1.56em;
            text-align: center;
            font-weight: 700;
            line-height: 160%;
            @media (min-width: 112.5em) {
                font-size: 2.5em;
            }
		}
		// .board-mounts__text
		&__text {
            font-size: 0.75em;
            font-weight: 300;
            text-align: center;
            color: $cl2;
            line-height: 166.7%;
            @media (min-width: 112.5em) {
                font-size: 1.3em;
            }
		}
}
/*--- topics end ---*/

/*--- world start ---*/
.world {

		// .world__container
		&__container {
            width: 100%;
            padding-top: 6.25rem;
            padding-bottom: 6.25rem;
		}
		// .world__cads
		&__cads {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.8rem;
            grid-auto-rows: 1fr;
            @media (max-width: 43.75em) {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1rem;
            }
            @media (max-width: 43.75em) {
                column-gap: 2,7rem;
            }
		}
}
.world__title {
    color: $cl4;
    font-size: 1.56rem;
    font-weight: 500;
    line-height: 80%;
    margin-bottom: 3.75rem;
}
.card {
		// .card__date
		&__date {
            color: $cl4;
		}
		// .card__title
		&__title {
            color: $cl3;
            font-size: 1rem;
            font-weight: 500;
		}
		// .card__text
		&__text {
            color: $cl4;
		}
}
/*--- world emd ---*/

/* footer start */
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 325px;
    color: $cl2-0;
    background-color: rgba(33, 37, 41, 1);
    @media (max-width: 767.98px){
        min-height: 200px;
    }
		// .footer__container
		&__container {
            display: flex;
            width: 100%;
            flex-direction: column;
            row-gap: 40px;
            &.box__line{
                border-bottom: 1px solid rgba(229, 229, 229, 0.20);;
            }
		}

		// .footer__menu
		&__menu {
        display: flex;
        justify-content: space-between;
        row-gap: 10px;
        column-gap: 40px;
        flex-wrap: wrap;
		}

		// .footer__logo
		&__logo {
        color: $cl1;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 138.888889%; /* 25/18 */
        &::after{
        content: ".";
        color: rgba(221, 190, 169, 1);
        }
		}

		// .footer__column
		&__column {
        display: flex;
        font-weight: 500;
        line-height: 208.333333%; /* 25/12 */
        row-gap: 20px;
        column-gap: 10px;
        flex-wrap: wrap;
		}

		// .footer__list
		&__list {
        display: flex;
        column-gap: 25px;
        flex-wrap: wrap;
		}

		// .footer__points
		&__points {
        transition: color 0.4s;
		}

		// .footer__information
		&__information {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        line-height: 166.666667%; /* 20/12 */
        row-gap: 10px;
        column-gap: 40px;
		}
}
.information-addres {
    transition: color 0.4s;
}
@media (any-hover: hover){
    .menu__item:hover .menu__link{
        color: $cl1;
    }
    .menu__item:hover .menu__link::before{
        width: 100%;
        left: 0;
    }
    .menu__item_parent:hover .sub-menu{
        top: 100%;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .sub-menu__link:hover{
        color: $cl1;
    }

    .footer__points:hover {
        color: $cl1;
    }
    .information-addres:hover {
        color: $cl1;
    }
}