@import url("reset.css");


  @import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Maven+Pro:wght@400;500;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap);


.vanse{
    background-image: url(../img/1.png) ;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    background-attachment: fixed;
    max-height: 600px;
    
}

.text{
    font-family: "poppins";
    color: rgba(229, 229, 229, 1);
    font-weight: 300;
    font-size: 12px;
    line-height: 160.666667%; /* 20/12 */
    text-align: left;
    padding: 22.916667% 0 7.1% 6.944444%; /* 100/1440 */
    display: inline-block;

}

.text h2{
    color: rgba(248, 249, 250, 1);
    max-width: 605px;
    font-weight: 700;
    font-size: 25px;
    line-height: 160%; /* 40/25 */
    margin: 15px 0 ;
}

.tailgrids{
    background:url(../img/speaker\ .png) 884px 50% no-repeat , linear-gradient(117deg, rgba(186,198,236,0.24) 0%, rgba(218,227,255,0.24413515406162467) 60%, rgba(48,86,211,0) 60%, rgba(48,86,211,0.15) 60%, rgba(48,86,211,0.15) 69%, rgba(48,86,211,0.25) 69%, rgba(48,86,211,0.25) 100%);
    
    max-height: 560px;
    padding: 145px 735px 146px 135px ;
    margin-bottom: 80px;
    
}
.text__speaker{
    min-width: 570px;
    font-family: "inter";
    font-size: 16px;
    text-align: left;
    line-height: 150%; /* 24/16 */
    font-weight: 500;
    color: #637381;
    display: inline-block;
    margin-bottom: 45px;
}

.text__speaker a{
    color: #3056D3;
    font-size: 18px;
    font-weight: bold;
    line-height: 133.333333%; /* 24/18 */
}

.text__speaker h2{
    font-size: 36px;
    line-height: 150%; /* 54/36 */
    color: #212B36;
    font-weight: 900;
    margin: 13px 0 15px 0;
}

.bottom{
    display: inline-block;
    background-color: #3056D3;
    border-radius: 30px;
    padding: 10px 30px;
}

.bottom a{
    
    font-family: "inter";
    color: #FFFFFF; 
    font-size: 16px;
    font-weight: bold;
    line-height: 150%; /* 24/16 */

}

[class*="__container"]{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
    
}

.unorder{
    font-size:26px;
    font-family: "inter";
    line-height: 107.692308%; /* 28/26 */
    
}

.unorder h2{
    margin-bottom: 45px;
}

.list{
    font-weight: bold;
    font-size: 16px;
    line-height: 93.75%; /* 15/16 */
    color: #637381;
    display: flex;
    

}
.list ul{
    margin: 10px;
}

.list1 li{
    background: url(../img/svg/Ellipse\ 2744.svg) no-repeat;
    padding-left: 15px;
    line-height: 1.2;
    padding-bottom: 10px;
}

.list2 li{
    background: url(../img/svg/Group.svg) no-repeat;
    padding-left: 30px;
    min-height: 25px;
    padding-top: 3px;
}

.list3 li{
    background: url(../img/svg/Group3.svg)no-repeat;
    padding-left: 30px;
    min-height: 25px;
    padding-top: 3px;
}
.list4 li{
    background: url(../img/svg/Group4.svg)no-repeat;
    padding-left: 30px;
    min-height: 25px;
    padding-top: 3px;
}

.list5 li{
    background: url(../img/svg/5.svg)no-repeat;
    padding-left: 30px;
    min-height: 25px;
    padding-top: 3px;
}

.list6 li{
    background: url(../img/svg/6.svg)no-repeat;
    padding-left: 30px;
    min-height: 25px;
    padding-top: 3px;
}



