@import url(reset.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Maven+Pro:wght@400;500;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

body{
    background-color:  #e5e5e5;;
}
.wrapper {
    font-family: "Inter";
    font-size: 16px;
    line-height: 118.75%; /* 19/16 */
    color: rgba(33, 43, 54, 1);
    background-color: rgba(255, 255, 255, 1);
    font-weight: 600;
}
.header {
    background-color: rgba(255, 255, 255, 0.579);
    position: sticky;
    top: 0;
    
    
}
.header__container {
    max-width: 1170px;
    display: flex;
    margin: 0 auto;
}
.header__logo {
    margin: auto 45px;
}
.menu__buttom{
    background-color: rgba(244, 247, 255, 1);
    padding: 9px 21px;
    border-radius: 5px;
}
.menu__buttom:hover{
    background-color: rgb(207, 218, 249);
}
.menu__buttom::after{
    content: url(../img/frame1.svg);
    margin-left: 13px;
}
.header__menu {
}
.menu {
}
.menu__list {

}
.menu__item {
    display: inline-block;
    position: relative;
    
}
.menu__item:not(:last-child){
    margin-right: 35px;
}
.menu__link {
    display: inline-block;
    margin: 30px 0;
    transition: all 0.3s;  
}
.menu__links {
    display: inline-block;
    margin: 30px 0;
    transition: all 0.3s;  
}
.menu__links:hover{
    background-color: rgba(244, 247, 255, 1);
    padding: 9px 21px;
    border-radius: 5px;
    transition: all 0.3s;
    
}
.menu__sub-menu {
    min-width: 180px;
    top: 100%;
    background-color: rgba(255, 255, 255, 1);
    border: 0.5px solid rgba(231, 231, 231, 1);
    border-radius: 5px;
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.263);
    padding: 0px 24px;
    position: absolute;
    z-index: 1;
     visibility: hidden; 
    opacity: 0; 
    pointer-events: none;
    transition: all 0.3s;
}

.sub-menu {
    
}
.menu__item:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    
}
.sub-menu::before{
    content: url(../img/polygon18.svg) ;
    bottom: 11px;
    right: 10px;
    position: relative;
}

.sub-menu__item {
    margin: 13px 0;
    color: rgba(99, 115, 129, 1);
    line-height: 150%; /* 24/16 */
    
}
.sub-menu__link {

}
.sub-menu__link:hover{
    color: #3056D3;
}

.sub-sub__container {
    min-width: 700px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    padding: 30px;
    display: flex;
    border-radius: 5px;
    left: 88%;
    top: 30px;
    opacity: 0;
    visibility:hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.sub-menu__item:hover .sub-sub__container {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.sub-sub__list{
    min-width: 120px; 
    margin-right: 80px;
    
}



.sub-sub_title{
    color: rgba(33, 43, 54, 1);
    font-weight: bold;
    margin-bottom: 20px;
}
.sub-sub__image{
    background: url(../img/rectangle1.png) center/cover no-repeat, url(../img/rectangle.png ) center/cover no-repeat ;
    width: 100%;
    border-radius: 5px;
    padding: 65px 47px 65px 45px;
    
}
.sub-sub__image-content{
    width: 128px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
}
.content__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-left: 21px;
}
.content__buttom{
    font-size: 11px;
    line-height: 118.181818%; /* 13/11 */
    max-width: 83px;
    padding: 5px 13px 7px 15px;
    background-color: rgba(48, 86, 211, 1);
    margin: 0 auto;
    margin-top: 21px;
    border-radius: 5px;

}
.content__buttom:hover{
    background-color: rgba(48, 86, 211, 0.455);
}

.sub-sub__next{
    width: 128px;
    display: block;
}
.sub-sub__next:hover::after{
    content: url(../img/arowr.svg);
    position: relative;
    margin-left: 62px;
}

.sub-sub__next:hover{
    color:rgba(48, 86, 211, 1);
}
.header__icons{
    display: inline-flex;
    max-width: 123px;

}
.header__icons :not(:last-child){
    margin-right: 20px;
}
.header__items:hover{
    background-color: rgba(244, 247, 255, 1);
    padding: 5px 5px;
    border-radius: 5px;
    transition: all 0.3s;
}
